<blockquote class="box">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum
  egestas sodales. Praesent non dui ut quam fermentum fermentum. Sed non tellus
  ut nisl volutpat iaculis vitae in mauris. Nullam scelerisque ipsum non justo
  ornare commodo. Phasellus placerat tortor in ultrices facilisis. Lorem ipsum
  dolor sit amet, consectetur adipiscing elit. Duis id tortor sit amet leo
  lobortis bibendum. Etiam nisi risus, interdum et volutpat vitae, feugiat vitae
  est. Vestibulum eu erat in lectus convallis mattis sit amet et nunc. Donec
  egestas vehicula purus eget finibus.
</blockquote>
