footer {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  width: calc(100%-64px);
  position: sticky;
  bottom: 0;
  left: 0;
}

.section {
  flex: 1;
}

.item {
  padding: 4px;
}
